@media only screen and (min-width: 800px) {
  nav#tabs {
    background-color: LavenderBlush;
    text-align:center;
    font-family: "Shadows Into Light", cursive;
    font-size: 20px;
  }

  nav#tabs ul{
    list-style: none;
    padding:0;
    overflow: hidden;
    position: relative;
  }

  nav#tabs ul li{
    float: left;
    display:inline;
  }

  nav#tabs ul li a {
    display: inline-block;
    color: gray;
    text-decoration:none;
    background-color: LavenderBlush;
    color: DarkRed;
    font-weight: bold;
    text-align:center;
  }

  #bio {
	font-family: "Palatino";
	text-align: justify;
	margin: 20px;
	float: left;
  }
 
  #footer {
	display: block;
	margin-left: 80px;
	margin-right:auto;
	float: none;
  }
}
  
 @media only screen and (max-width: 400px) {
  nav#tabs {
    background-color: LavenderBlush;
    text-align:center;
    font-family: "Shadows Into Light", cursive;
    font-size: 20px;
  }

  nav#tabs ul{
    list-style: none;
    padding:0;
    overflow: hidden;
    position: relative;
  }

  nav#tabs ul li{
    float: left;
    margin-left:110px;
    display:inline;
  }

  nav#tabs ul li a {
    display: inline-block;
    padding: 10px;
    color: gray;
    text-decoration:none;
    background-color: LavenderBlush;
    color: DarkRed;
    font-weight: bold;
    text-align:center;
  }

  #bio {
	font-family: "Palatino";
	text-align: justify;
	margin: 20px;
	float: left;
  }
 
  #footer {
	display: block;
	margin-right:auto;
	float: none;
  } 
 }