@media only screen and (min-width: 400px) {
  #tabs {
	 display: block;
	 margin-left: auto;
	 margin-right: auto;
	 float: center;
  }
  #bio {
	 font-family: "Comic Sans", sans-serif;
	 text-align: justify;
	 margin: 20px;
	 float: left;
  }
  #footer {
	 display: block;
	 margin-left: auto;
	 margin-right:auto;
	 float: center;
  }
  }
  