@media only screen and (max-width: 600px) {
  nav#tabs {
    background-color: LavenderBlush;
    text-align:center;
    font-family: "Shadows Into Light", cursive;
    font-size: 20px;
  }

  nav#tabs ul{
    list-style: none;
    padding:0;
    overflow: hidden;
    position: relative;
  }

  nav#tabs ul li{
    float: left;
    display:inline;
	margin-left:85px;
  }

  nav#tabs ul li a {
    display: inline;
	padding: 10px;
    color: gray;
    text-decoration:none;
    background-color: LavenderBlush;
    color: DarkRed;
    font-weight: bold;
    text-align:center;
  }

  #bio, #subtext {
	font-family: "Palatino";
	text-align: justify;
	margin: 20px;
	float: left;
  }
 
  #footer {
	display: inline;
	margin-left: 250px;
	float: left;
  }
}
  
 @media only screen and (min-width: 600px) {
  nav#tabs {
    background-color: LavenderBlush;
    text-align:center;
    font-family: "Shadows Into Light", cursive;
    font-size: 20px;
  }

  nav#tabs ul{
    list-style: none;
    padding:0;
    overflow: hidden;
    position: relative;
  }

  nav#tabs ul li{
    float: left;
    display:inline;
	margin-left:160px;
  }

  nav#tabs ul li a {
    display: inline-block;
	padding: 20px;
    color: gray;
    text-decoration:none;
    background-color: LavenderBlush;
    color: DarkRed;
    font-weight: bold;
    text-align:center;
  }

  #bio {
	font-family: "Palatino";
	text-align: justify;
	margin: 20px;
	float: left;
  }
 
  #footer {
	display: block;
	float: none;
	margin-left: 485px
  } 
 }